<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="grey-bg">

    <!-- include(파일위치)를 통해, js를 붙일 수 있음 -->
    <%- include('nav.ejs') %>

    <div class="detail-bg">
        <div class="chat-screen">
            <div class="chat-box"><span>안녕하세요</span></div>
            <div class="chat-box"><span>안녕하세요</span></div>
            <div class="chat-box mine"><span>안녕하세요</span></div>
        </div>
    </div>
    <div class="chat-form">
        <input class="chat-input">
        <button class="chat-button">전송</button>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
        const socket = io();
        socket.emit('join-room-request', 'room1');

        document.querySelector('.chat-button').addEventListener('click' , () => {
            socket.emit('message', { msg : 'greeting!', room : 'room1'});
        });

        socket.on('broadcast' , (data) => {
            console.log(data);
        });
    </script>

</body>



</html>