<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="grey-bg">

    <!-- 수정 화면 -->
    <form class="form-box" action="/board/revise/<%= 기존글._id %>" method="POST">
        <h4>글쓰기</h4>
        <input name="title" value="<%= 기존글.title %>">
        <input name="content" value="<%= 기존글.content %>">
        <button type="submit">전송</button>
    </form> 

</body>
</html>